.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    color: #F4F4FA;
    border-bottom: 2px solid #4D4D8E;
    background: rgba(35, 20, 107, 0.9);
    backdrop-filter: blur(10px);
}
.navbar .logo{
    width: max(12vw,120px);
}
.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.navbar li{
    cursor: pointer;
}
.nav-right{
    display: flex;
    align-items: center;
    gap:max(1vw,12px);
}
.navbar select{
    padding: 5px 8px;
    border-radius: 6px;
    border: 2px solid #2FB2E6;
    background: rgba(35, 20, 107, 0.8);
    color: #F4F4FA;
}
.navbar option{
    background-color: #23146B;
    color: #F4F4FA;
}
.navbar button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #23146B;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar button img{
    width: 13px;
}
@media (max-width : 900px){
  .navbar{
    padding: 20px 8%;
  }
  .navbar button{
    gap:8px;
    padding: 8px 18px;
    font-size: 14px;
  }
}
@media (max-width : 768px){
    .navbar{
      padding: 20px 5%;
    }
    .navbar ul{
        display: none;
    }
    .navbar button img{
        width: 12px;
    }
  }